<ion-view view-title="Issue Details">
    <ion-nav-buttons>
        <button  type="button" class="button icon-left button-icon icon ion-arrow-left-c"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button button-stable">Log Out</button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list card">
            <div class="item ">
                <h2>{{issue.issueType.name}}</h2>
                <h3>Publié par {{issue.owner.name}}</h3>
                <p>le {{issue.createdOn}}</p>
            </div>

            <div class="item item-image">
                <img src="{{issue.imageUrl}}" >
                <p>{{issue.description}}</p>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                Commentaires
            </div>
            <div class="list"  >
                <div class="item" ng-repeat="comment in issue.comments">
                    <h2>Posté par {{comment.author.name}}</h2>
                    <h3>le {{comment.postedOn}}</h3>
                    <p>{{comment.text}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>