<ion-view view-title="Issue Details">
    <!--<ion-nav-buttons  ng-controller="GetIssueDetails" ng-click="myGoBack()">
        <button  type="button" class="button icon-left button-icon icon ion-arrow-left-c"></button>
    </ion-nav-buttons>-->


    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button button-stable">Log Out</button>
    </ion-nav-buttons>
    <ion-content id="{{issue.id}}">

        <div class="list card" id="debut">
            <div class="item ">
                <h2>{{issue.issueType.name}}</h2>
                <h3>Publié par {{issue.owner.name}}</h3>
                <p>le {{issue.createdOn}}</p>
            </div>

            <div class="item item-image">
                <img src="{{issue.imageUrl}}" >
                <p>{{issue.description}}</p>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider" id="scrollArea" ng-controller="ScrollController">
                Commentaires
                <button class="button fltrt" ng-click="anchorTo('commentaire')">
                   <i class="icon ion-chatbubble-working"></i> Ajouter un nouveau commentaire 
                </button>
            </div>
            
            <div class="list"  >
                <div class="item" ng-repeat="comment in issue.comments">
                    <h2>Posté par {{comment.author.name}}</h2>
                    <h3>le {{comment.postedOn}}</h3>
                    <p>{{comment.text}}</p>
                </div>
            </div>
        </div>

        <div class="NewCommentaire" id="commentaire">
            <label>
                <textarea placeholder="Comments" ng-model="commentAdd.text"></textarea>
            </label>
            <button class="button button-small fltrt" ng-click="newComment(commentAdd, item.id)">Nouveau commentaire</button>
        </div>
        <button type="button" class="button button-stable button-small" id="scrollArea" ng-controller="ScrollController" ng-click="anchorTo('debut')">
            Retourner au début
        </button>
    </ion-content>
</ion-view>