<ion-view view-title="Issue Details">
    <ion-content>

        <div class="list card">
            <div class="item ">
                <h2>{{issue.issueType.name}}</h2>
                <h3>Publié par {{issue.owner.name}}</h3>
                <p>le {{issue.createdOn}}</p>
            </div>

            <div class="item item-image">
                <img src="{{issue.imageUrl}}" >
                <p>{{issue.description}}</p>
                <button class="button icon-left ion-edit">Edit</button>
                <button class="button icon-left ion-trash-a">Delete</button>
            </div>
        </div>

        <div class="list">
            <div class="item item-divider">
                Commentaires
            </div>
            <div class="list"  >
                <div class="item">

                    <h2>Posté par {{issue.comments[0].author.name}}</h2>
                    <h3>le {{issue.comments[0].postedOn}}</h3>
                    <p>{{issue.comments[0].text}}</p>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>