<ion-view view-title="New Issue">
    <ion-nav-buttons side="secondary">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button button-stable">Log Out</button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input item-select">
            <div class="input-label" >Issue Type</div>
            <select ng-controller="GetIssueType" ng-model="issueAdd.issueType">
                <option ng-repeat="item in items">{{item.name}}</option>
            </select>
        </label>
        <label class="item item-input" >
            <span class="input-label" ng-model="issueAdd.description">Decsription</span>
            <input type="text" placeholder="description">
        </label>
        
        <a class="button icon-left  ion-camera">Take a photo</a>
        <a class="button icon-left  ion-location" ng-click="geoloc()">Add location</a>
        <button class="button button-block button-calm" ng-click="postIssue(issueAdd)">
            Save
        </button>
        
        
    </ion-content>
</ion-view>
