/* Empty. Add your own CSS if you like */
ion-view{
	background: 
      url(../img/gplaypattern.png) repeat-x bottom ;
}
button {
	display: inline-block;
}
p{
	font-family: Helvetica;
}

.fltrt {
    float: right;
    
}

.leaflet-container{
    width: 100%;
    height: 100%;
    position: static !important;
}